


*{
  box-sizing: border-box;
}

body{
    background-image:url(../images/background.jpg);
}
a {
    color:black;
    text-decoration: none;

}

.header{
    
    background:teal;
}

h1{

    background-color: teal;
    color:white;
}

.movie{
    position: relative;
    background-color: teal;
    font-size: large;
    text-align: center;
    color:white;
    width: 297px;
    height: 33px;

    left: 2px;
    top: -51px; 
    z-index: 1;
}

.bible{
    position: relative;
    background-color: teal;
    text-align: center;
    color:white;
    width: 297px;
    height: 33px;
    left: 2px;
    top: -51px; 
    z-index: 1;
}

.disney{
    position: relative;
    background-color: teal;
    text-align: center;         
    color:white;
    width: 297px;
    height: 33px;
    left: 2px;
    top: -51px; 
    z-index: 1;
}

.work{
    position: relative;
    background-color: teal;
    text-align: center;
    color:white;
    width: 297px;
    height: 33px;
    left: 2px;
    top: -51px; 
    z-index: 1;
}




    


@media only screen and (max-width: 640px) {
    /* For mobile phones: */
    [class*="body"] {
      width: 100%;
    }
  }

  @media only screen and (max-width: 670px) {
    /* For mobile phones: */
    [class*="body"] {
        width: 100%;
      }
    }
 


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="body"] {
      width: 100%;
    }
  }

  @media only screen and (max-width: 980px) {
    /* For mobile phones: */
    [class*="body"] {
      width: 100%;
    }
  }
